<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TradingDayDalTests.Properties.Settings.ConString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TradingDayDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
</configuration>